#mup-ticket-list {
  article {
    header {
      margin: 0 -5px;

      span {
        font-size: 14px;
        margin: 0 5px;

        #mup-ticket-open {
          @include badge($success-color, #fff)
        }

        #mup-ticket-closed {
          @include badge($error-color, #fff)
        }
      }

      #mup-ticket-priority strong {
        @include badge($color-2, #fff)
      }
    }

    .mup-card-content {
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}


